@import "../../../sass/base/main";

.main {
padding-top: 8rem;
padding-bottom: 8rem;
background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.container {
  max-width: 120rem;
  margin: auto;
  background-color: $color-grey-light-2;
  box-shadow: $shadow-dark;

  min-height: 50rem;
}
.content {
  display: flex;
}
