@import '../../../../../sass/base/main';


.cta {
    padding: 3.5rem 0;
    text-align: center;

}
.booknow{
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
}